body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
